:root {
    --text-color: rgb(180, 150, 150);
    --background-color: rgb(2, 2, 112);

}

body {
    background-color: var(--background-color)
}

/* Name styling  */
h1 {
    color: var(--text-color);
    text-shadow: rgb(0, 0, 0) 3px .5px 2px;
    font-size: 40px;
    margin-left: 2%;
    letter-spacing: 5px;

}

/* nav styling */
ul a {
    color: var(--text-color);
    text-decoration: none;
    margin: 20px;
    font-size: 20px;
    text-shadow: rgb(0, 0, 0) 3px .5px 2px;
}

/* remove bullets */
ul {
    list-style-type: none;
}

/* position nav menu */
.nav-text {
    /* width: 20%; */
    display: flex;
    justify-content: flex-end;
    margin-right: 3%;
    letter-spacing: 3px;

}

.about-me {
    display: flex;
    margin: 2%;

}

h2 {
    color: var(--text-color);
    text-align: center;
    font-size: 35px;
    letter-spacing: 4px;
    text-shadow: rgb(0, 0, 0) 3px .5px 2px;
}

#mark-image {
    border-radius: 100%;
    width: 240px;
    height: 200px;
}