:root {
    --text-color: rgb(180, 150, 150);
    --background-color: rgb(3, 3, 159);
    --background-gradient: linear-gradient(to bottom, var(--background-color), rgb(43, 0, 90));

}

body {
    background-color: var(--background-color)
    
}

main {
    display: flex;
    flex-direction: column;
}

/* Name styling  */
h1 {
    color: var(--text-color);
    text-shadow: rgb(0, 0, 0) 3px .5px 2px;
    font-size: 40px;
    margin-left: 2%;
    letter-spacing: 5px;

}

/* nav styling */
ul a {
    color: var(--text-color);
    text-decoration: none;
    margin: 20px;
    font-size: 20px;
    text-shadow: rgb(0, 0, 0) 3px .5px 2px;
}

/* remove bullets */
ul {
    list-style-type: none;
}

/* position nav menu */
.nav-text {
    /* width: 20%; */
    display: flex;
    justify-content: flex-end;
    margin-right: 3%;
    letter-spacing: 3px;

}

/* About Me Section  */
.about-me {
    display: flex;
    margin: 2%;
    height: 225px;
    border: solid var(--text-color)2px;


}

h2 {
    color: var(--text-color);
    text-align: center;
    font-size: 35px;
    letter-spacing: 4px;
    text-shadow: rgb(0, 0, 0) 3px .5px 2px;
}


/* Photo CSS */
#mark-image {
    position: absolute;
    border-radius: 100%;
    width: 240px;
    height: 200px;
    margin-left: -60px;
  
}

/* Gradient Div Surrounding Photo(About Me) */
#image-section {
    background: var(--background-gradient);
    position: relative;
    /* margin-bottom: 20px; */
    margin-left: 60px;
    width: 90%;
    border-top-left-radius: 10%;
    border-bottom-left-radius: 10%;
}

/* About Me Text Section  */
.about-me-section {
    display: flex;
    margin-left: 200px;
    width: 70%;
    
}

.about-me-text {
    text-align: center;
    color: var(--text-color);
    font-size: 20px;
    text-shadow: rgb(0, 0, 0) 3px .5px 2px;
}

.work-section {
    margin-top: 5px;
    height: 500px;
    background: var(--background-gradient);
    border: solid var(--text-color)2px;
}