:root {
    --text-color: rgb(180, 150, 150);
    --background-color: rgb(3, 3, 159);
    --background-gradient: linear-gradient(to bottom, var(--background-color), rgb(43, 0, 90));

}

body {
    background-color: var(--background-color)
}

main {
    display: flex;
    flex-direction: column;
    /* border: solid var(--text-color)2px; */
    /* margin: 200px; */


}

header,
footer {
    margin-left: 2%;
    border: solid var(--text-color)2px;
    width: 95.8%;
}



/* Name styling  */
h1 {
    color: var(--text-color);
    text-shadow: rgb(0, 0, 0) 3px .5px 2px;
    font-size: 40px;
    margin-left: 2%;
    letter-spacing: 5px;

}

/* nav styling */
ul a {
    color: var(--text-color);
    text-decoration: none;
    letter-spacing: 5px;
    margin: 20px;
    font-size: 20px;
    text-shadow: rgb(0, 0, 0) 3px .5px 2px;
}

/* remove bullets */
ul {
    list-style-type: none;
}

/* position nav menu and footer */
.nav-text {
    /* position: absolute; */
    display: flex;
    height: 80px;
    margin-left: 69%;
    margin-top: -60px;
    letter-spacing: 3px;

}

/* About Me Section  */
.about-me {
    display: flex;
    margin: 2%;
    letter-spacing: 2px;
    height: 225px;
    border: solid var(--text-color)2px;


}

h2 {
    color: var(--text-color);
    text-align: center;
    font-size: 35px;
    letter-spacing: 6px;
    text-shadow: rgb(0, 0, 0) 3px .5px 2px;
}


/* Photo CSS */
#mark-image {
    position: absolute;
    border-radius: 100%;
    width: 240px;
    height: 200px;
    margin-left: -60px;

}

/* Gradient Div Surrounding Photo(About Me) */
#image-section {
    background: var(--background-gradient);
    position: relative;
    margin-right: 0px;
    width: 90%;
    border-top-left-radius: 10%;
    border-bottom-left-radius: 10%;
}

/* About Me Text Section  */
.about-me-section {
    display: flex;
    margin-left: 200px;
    width: 70%;

}

.about-me-text {
    text-align: center;
    color: var(--text-color);
    font-size: 20px;
    text-shadow: rgb(0, 0, 0) 3px .5px 2px;
}

.work-section {
    margin-top: 5px;
    margin-left: 2%;
    height: 900px;
    width: 96%;
    background: var(--background-gradient);
    border: solid var(--text-color)2px;
}

.app-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#app1 {
    width: 100%;
    height: 300px;
    border: solid var(--text-color)1px;
}

#app2,
#app3,
#app4,
#app5 {
    width: 40%;
    height: 200px;
    border: solid var(--text-color)1px;
}

footer {
    margin-top: 40px
}

.contact-list {
    /* width: 20%; */
    display: flex;
    /* justify-content: space-evenly */
    flex-wrap: wrap;
    position: absolute;
    margin-left: 65%;
    margin-top: -60px;
    letter-spacing: 3px;
}